.moveSignInRightwards {
    animation: slideRightSignInOption 1s ease-in-out forwards;
}

.moveSignInLeftwards {
    animation: slideLeftSignInOption 1s ease-in-out forwards;
}

.signInAppears {
    animation: signInToolbarAppears 1s forwards;
}

.signInDisappears {
    animation: signInToolbarDisappears 1s forwards;
}

.signUpAppears {
    animation: signUpToolbarAppears 1s forwards;
}

.signUpDisappears {
    animation: signUpToolbarDisappears 1s forwards;
}

.logoRollsRightwards {
    animation: rollRight 2s ease-in-out forwards;
}

.logoRollsLeftwards {
    animation: rollLeft 2s ease-in-out forwards;
}