.LoginForm {
    background-color: transparent;
    border-radius: 25px;
    align-content: center;
    width: 400px;
    height: 450px;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
}

.button:hover, button:focus {
    background-size: 200%;
    scale: 1.05;
}

@keyframes slideInLoginForm {
    from {
        transform: translateX(-400px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
