body, .App {
  text-align: center;
  background: darkgray;
  height: 100vh; /* Ensure the height covers the full viewport */
  margin: 0;
  display: flex; /* Center the content within the App container */
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.FormContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.55);
}

