/*.sign_up_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 2px 3px white;
    margin: auto;
    border-color: red;
    border-radius: 25px;
    align-content: center;
    width: 400px;
    height: 450px;
}*/

.sign-up-option {
    background: radial-gradient(circle, rgba(238,174,202,1), rgba(148,187,233,1));
    border-radius: 25px;
    align-content: center;
    width: 400px;
    height: 450px;
}

.sign_up_option__btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign_up_option__btn:hover {
    background-color: #45a049;
}

.sign-up-option__title {
    color: black;
}